<br>
    <h1 style="display: flex; justify-content:center; color:rgb(39, 60, 117)">Student Management</h1><br>
 
 
    <a class="nav-link" href="/student/new-student-form">
        <button class="btn btn-primary me-md-2" type="button">+ New Student</button>
    </a>
        <br>


  <form class="d-flex" role="search" action="" method="post">
        <input class="form-control me-2" name="text"
         type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
<br>

<table class="table-bordered table table-hover">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>Contact no</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>
            <td>{{this.student_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
            <td>{{this.contact}}</td>
            <td>
            
                <a href="/student/delete-student/{{student_id}}" class="btn btn-danger">Delete</a>&nbsp;
                <a href="/student/update-student/{{student_id}}" class="btn btn-warning">Update</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

